<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/employee/create" method="post" th:object="${emp}">
    <input type="hidden" th:field="*{id}">
    name <input type="text" th:field="*{name}"><br>
    birthday <input type="text" th:field="*{birthday}"><br>
    id card <input type="text" th:field="*{id_card}"><br>
    salary <input type="text" th:field="*{salary}"><br>
    phone <input type="text" th:field="*{phone}"><br>
    email <input type="text" th:field="*{email}"><br>
    address <input type="text" th:field="*{address}"><br>

    <input type="hidden" th:field="*{users}">

<!--    <select th:field="*{users}">-->
<!--        <option th:each="userObj:${user}" th:text="${userObj.getUsername()}" th:value="${userObj.getIdUser()}"></option>-->
<!--    </select>-->

    <select th:field="*{position}">
        <option th:each="posObj:${pos}" th:text="${posObj.namePosition}" th:value="${posObj.positionId}"></option>
    </select>

    <select th:field="*{educationDegree}">
        <option th:each="eduObj:${edu}" th:text="${eduObj.educationName}" th:value="${eduObj.educationId}"></option>
    </select>

    <select th:field="*{division}">
        <option th:each="diviObj:${division}" th:text="${diviObj.divisionName}"
                th:value="${diviObj.divisionId}"></option>
    </select>

    <button type="submit">ADD</button>
</form>
</body>
</html>