<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<a th:href="@{/create}">Theem moiw</a>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>email</th>
        <th>address</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="obj:${listAll}">
        <td th:text="${obj.getId()}"></td>
        <td th:text="${obj.getName()}"></td>
        <td th:text="${obj.getEmail()}"></td>
        <td th:text="${obj.getAddress()}"></td>
        <td><a th:href="@{/edit/{id}(id = ${obj.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${obj.id})}">Delete</a></td>
    </tr>

</table>
</body>
</html>