<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/createCategory}">Them</a>
<table border="1px">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    <tr th:each="obj:${listAllCategory}">
        <td th:text="${obj.id}"></td>
        <td th:text="${obj.name}"></td>
        <td><a th:href="@{/deleteCategory/{id}(id = ${obj.id})}">Xoa</a></td>
    </tr>
</table>
</body>
</html>